language: php
dist: trusty
sudo: false

php:
  - 5.6
  - 7.1
  - 7.2

install:
  - travis_retry composer install --no-interaction

script:
  - vendor/bin/phpunit --coverage-clover clover.xml

after_script:
  - bash <(curl -s https://codecov.io/bash)
